.part-header {
    background-color: #4e3b31;
    color: white;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radiuss: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.partial-list {
    border-bottom-style: dashed;
    border-bottom-color:crimson;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.partial-header {
    border-bottom-style:solid;
    border-bottom-width: thick;
    border-bottom-color: white;
    border-right-style:solid;
    border-right-width: thick;
    border-right-color: white;
    border-top-style:solid;
    border-top-width: thick;
    border-top-color: white;
    border-left-style:solid;
    border-left-width: thick;
    border-left-color: white;
    border-radius: 5px;
    background-color: rgba(233, 210, 179, 0.67);
    /*color: #752c03;*/
    color: #247014;
    padding: 5px;
}

.part-header-description {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #752c03;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(252, 175, 8, 0.18);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.partial-header-name {
    padding-left: 10px;
    font-weight: bold;
}

.partial-list-entry {
    padding: 7px;
    background-color: rgba(215, 152, 25, 0.12);
    padding-bottom: 20px;
}

.partial-list-entry:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
}

.partial-list-entry:last-child{
    margin-bottom: 0px;
}

.link, .link:visited {
    color: darkred;
    padding-left: 10px;
}

.section-entry:first-child {
    padding-top: 10px;
}

.section-entry:last-child {
    padding-bottom: 10px;
}

.section {
    margin-top: 10px;
    margin-left: 10px;
    color: #00009b;
}
.section-entry {
    background-color: white;
}